doctype html(lang='en')
html
  head
    meta(charset='UTF-8')
    title Chat Me Up
    link(href='vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='vendor/bootstrap-social/bootstrap-social.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body(ng-app='socialLogin')
    //- div(ng-controller='navCtrl')
    //-   button(ui-sref='home') home

    //-   span(ng-if='!isAuthenticated()')
    //-     button(ui-sref='login') login

    //-   span(ng-if='isAuthenticated()')
    //-     button(ui-sref='profile') profile
    //-     button(ng-click='logout()') logout

    nav.navbar.navbar-inverse(ng-controller='navCtrl')
      .container-fluid
        div(ng-if='isAuthenticated()')
          ul.nav.navbar-nav
            li
              a(ui-sref='home') Home
            li
              a(ui-sref='') Users
          ul.nav.navbar-nav.navbar-right
            li
              img.avatar(ng-src="{{user.picture}}")
            li
              a {{user.displayName}}
            li
              a(ng-click='logout()')
                span.glyphicon.glyphicon-log-out
                |  Log out

    ui-view

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='vendor/satellizer/satellizer.min.js')
    script(src='js/module.js')
    script(src='js/controllers/login.js')
    script(src='js/controllers/home.js')
    script(src='js/controllers/profile.js')
    script(src='js/controllers/nav.js')
