<h1>Register</h1>

<div class="container">
  
  <div class="register col-xs-12 col-sm-4 col-sm-offset-2">
    <table> 
      <tbody>
        <tr>
          <td>Enter your user name:</td>
        </tr>
        <tr>
          <td>
            <input id="userR" type="text"/>
          </td>
        </tr>
        <tr>
          <td>Enter your password:</td>
        </tr>
        <tr>
          <td> 
            <input id="passR" type="password"/>
          </td>
        </tr>
        <tr>
          <td>Re-enter your password:</td>
        </tr>
        <tr>
          <td> 
            <input id="rePassR" type="password"/>
          </td>
        </tr>
        <tr>
          <td> 
            <button id="register" class="btn btn-primary">Register</button>
          </td>
        </tr>
        <tr>
          <td><span id="err" class="err"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>